.rainbow {
  background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
  background-size: 1200% 1200%;
  -webkit-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
}
@-webkit-keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
@keyframes rainbow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.background-log {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.button-refresh {
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.button-refresh button {
  display: block;
  text-transform: uppercase;
  width: 300px;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.refresh {
  background-color: rgb(252, 0, 126);
  font-size: 40px;
}
.container {
height: 500px;
position: relative;
border: 0px solid green;
}

.container2 {
height: 500px;
position: relative;
border: 0px solid green;
}

.vertical-center {
margin: 0;
position: absolute;
top: 40%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.vertical-center-canvas {
margin: 0;
position: absolute;
top: 50%;
left: 30%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.size {
  font-size: xx-large;
}

.fontcool {
  font-size: 70px;
  font-family: Copperplate, Papyrus, fantasy;
}

.flier {
	pointer-events: none;
}

.flier > * {
        animation: fly 50s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: -1;
  opacity: 0.5;
}

@keyframes fly {

	98.001%, 0% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 18% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	40% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

.title {
  width: 800px;
  border-style:none;
  background-color: rgb(247, 183, 8);
  background: rgb(255, 166, 0);
  background: -webkit-linear-gradient(left, orange, violet);
  background: -o-linear-gradient(right, orange, violet);
  background: -moz-linear-gradient(right, orange, violet);
  background: linear-gradient(to right, orange , violet);
 }

.flier2 {
	pointer-events: none;
}

.flier2 > * {
        animation: fly2 27s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: -1;
  opacity: 0.5;
}

@keyframes fly2 {

	98.001%, 20% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	15% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 0% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	50% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 43% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	65% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	95% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}

.flier3 {
	pointer-events: none;
}

.flier3 > * {
        animation: fly2 20s linear infinite;
        pointer-events: none !important;
	top: 0;
	left: 0;
	transform: translateX(-120%) translateY(-120%) rotateZ(0);
	position: fixed;
	animation-delay: 1s;
	z-index: -1;
  opacity: 0.5;
}

@keyframes fly3 {

	98.001%, 30% {
                display: block;
		transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
	}

	5% {
		transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
	}

	15.001%, 0% {
		transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
	}

	80% {
		transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
	}

	40.001%, 63% {
		transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
	}

	35% {
		transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
	}

	65.001%, 68% {
		transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
	}

	45% {
		transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
	}
}
